@charset "utf-8";
.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	align-content:center;
}
.wrapper>*{
	padding: 10px;
	margin: 10px;
	flex: 1 100%;
	border-radius: 10px;
}
.header{
	background: #AF2D2F;
	height: 90px;
}
.main{
	text-align: center;
	background: #361688;
	height: 300px; 
	font-size: 14px;
}
.aside1{
	background: #FFD700;
}
.aside2{
	background: #25C046
}
@media all and (max-width:767px){
	.main{
		flex: 3;
	}
	.aside1{
		order: 1;
	}
	.aside2{
		order: 2;
	}
	.main{
		order: 2;
	}
}
@media all and (min-width:992px){
	.main{
		flex: 3;
	}
}

@media all and (min-width:768px){
	.aside{
		flex: 1;
	}
}